main {
    margin: 20px;
    font-family: sans-serif;
}

.hero-section {
    display: flex;
    align-items: center;
}

.hero-section__left-col,
.hero-section__right-col {
    flex: 1;
} 

p {
    color: #aaa;
}

.hero-section__right-col {
    display: flex;
    justify-content: center;
}

.hero-section__right-col img {
    max-height: 250px;
    max-width: 100%;
    border-radius: 50%;
}

.action-button {
    background-color: #01a89e;
    color: #fff;
    font-weight: 500;
    padding: 10px 16px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
}

.new-sessions__wrapper {
    display: flex;
    flex-wrap: wrap;
    
}

.new-sessions {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.new-sessions h2 {
    text-align: center;
    margin-bottom: 60px;
}

.session-row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.session-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 33%;
}

.session-box h5 {
    margin-bottom: 10px;
}

.session-box p {
    margin-top: 0;
    font-size: 12px;
}

.icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.bg-green-light {
    background: #ccefeb;
    color: #092d29;
}

.bg-orange-light {
    background: #fbe8da;
    color: #a66232;
}

.bg-yellow-light {
    background: #f0f7ce;
    color: #9fb821;
}

.bg-pink-light {
    background: #f8dedf;
    color: #a12428;
}

.on-campus {
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    align-items: center;
    width: 24vw;
}

.icon-box {
    width: 60px;
    height: 60px;
    box-shadow: 0 0 7px 5px #eee;
    border-radius: 20px;
    font-size: 26px;
    color: #01a89e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.box h6, .box p {
    margin-bottom: 0;
    margin-top: 0;
}

.box__text-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60px;
}


.box h6 {
    margin-bottom: 5px;
}

.on-campus__text-section {
    width: 45vw;
}



@media screen and (max-width: 1024px) {
    .hero-section__left-col {
        text-align: center;
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-section__left-col {
        margin-bottom: 20px;
    }

    .hero-section__left-col .action-button {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .session-box {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .hero-section__left-col button {
        width: 100%;
    }

    .on-campus__text-section {
        text-align: center;
    }

    .box, .footer-button, .on-campus__text-section {
        width: 100%;
    }

    .box {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer-button {
        margin-top: 20px;
    }

    .f1 {
        order: 2;
    }

    .f2 {
        order: 4;
    }

    .f3 {
        order: 1;
    }

    .f4 {
        order: 4;
    }

    .f5 {
        order: 5;
    }

    .f6 {
        order: 6;
    }
}


